{% extends '@SyliusShop/Checkout/layout.html.twig' %}

{% import "@SyliusShop/Common/Macro/money.html.twig" as money %}

{% block content %}
    {{ parent() }}
    
    <div class="ui raised very padded text container segment">
        <h1 class="ui header">
            <div class="content">
                Payment
                <div class="sub header">
                    {% if payment is defined %}
                        {% if payment.order is defined %}
                            <p>Payment for order #{{ payment.order.number }}</p>
                        {% endif %}
                        {% if payment.amount is defined and payment.currencyCode is defined %}
                            <p><strong>{{ money.format(payment.amount, payment.currencyCode) }}</strong></p>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </h1>

    <form action="{{checkout_url}}" class="paymentWidgets" data-brands="VISA MASTER"></form>

    <script src="https://test.oppwa.com/v1/paymentWidgets.js?checkoutId={{checkout_id}}"></script>
    
    </div>
    
{% endblock %}